<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <form [formGroup]="todoForm">
        <input
          (change)="changeHandler()"
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          formControlName="newTask"
        />
      </form>
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        @for (task of taskByFilters(); track task.id) {
        <li [ngClass]="{ completed: task.checked }">
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              (change)="checkTask(task.id)"
              [checked]="task.checked"
            />
            <label>{{ task.name }}</label>
            <button (click)="deleteTask(task.id)" class="destroy"></button>
          </div>
          <input class="edit" [value]="task.name" />
        </li>
        }
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ taskLeft }}</strong> item left</span
      >
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a
            [ngClass]="{ selected: filter() === filters.All }"
            (click)="filter.set(filters.All)"
            >All</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ selected: filter() === filters.Pending }"
            (click)="filter.set(filters.Pending)"
            >Pending</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ selected: filter() === filters.Completed }"
            (click)="filter.set(filters.Completed)"
            >Completed</a
          >
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button (click)="clearCompleted()" class="clear-completed">
        Clear completed
      </button>
    </footer>
  </div>
</section>
